body {

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: sans-serif;

    line-height: 1.5;

    min-height: 100vh;

    background-color: "blue";

    flex-direction: column;

    margin: 0;
}
 
.main {

    background-color: #fff;

    border-radius: 15px;

    box-shadow: 0 0 20px rgba(222, 82, 21, 0.955);

    padding: 10px 20px;

    transition: transform 0.2s;

    width: 500px;

    text-align: center;
}
 

h1 {

    color: #5e4caf;
}
 
label {

    display: block;

    width: 100%;

    margin-top: 10px;

    margin-bottom: 5px;

    text-align: left;

    color: #555;

    font-weight: bold;
}
 
 
input {

    display: block;

    width: 100%;

    margin-bottom: 15px;

    padding: 10px;

    box-sizing: border-box;

    border: 1px solid #ddd;

    border-radius: 5px;
}
 
button {

    padding: 15px;

    border-radius: 10px;

    margin-top: 15px;

    margin-bottom: 15px;

    border: none;

    color: white;

    cursor: pointer;

    background-color: #a34caf;

    width: 100%;

    font-size: 16px;
}
 
.wrap {

    display: flex;

    justify-content: center;

    align-items: center;
}